{{ partial "head" . }}
<body>
    <div class="container">
        <div id="nav" class="links">
            <a href="/#"><img src="/images/logo.svg" alt="Home"></a>
            <a href="/#nav">Event Information</a>
            <a href="/travel">Travel</a>
            <a href="/faq">FAQ</a>
            <a href="/things-to-do">Things To Do</a>
            <a href="/photos">Photos</a>
            <a href="/rsvp">RSVP</a>
        </div>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</body>

</html>
