{{ partial "head" . }}
<body>
    <div style="margin: 1em; font-family: charterregular, serif; text-align: center;">
        We're so glad you were able to make it! If you have any photos you'd like to
        share with us, please do so on the <a href="/photos">photos page</a>!
    </div>
    <div class="container">
        <div class="collapsible-menu">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle">&#8801;</label><!-- or &#9776;-->
            <div id="nav" class="links">
                {{ partial "links" . }}
            </div>
        </div>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</body>

</html>
