{{ partial "head" . }}
<body>
    <div class="home-header">
        <div class="homepage nav links">
            {{ partial "links" . }}
        </div>
        <img id="header" src="/images/katherine-and-chandler.svg" alt="">
        <h2 class="date-header">9 &middot; 3 &middot; 22</h2>
        <div class="down-container">
            <a href="#nav">&#8964;</a>
        </div>
    </div>
    <div class="container">
        <div class="collapsible-menu">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle">&#8801;</label><!-- or &#9776;-->
            <div id="nav" class="links">
                {{ partial "links" . }}
            </div>
        </div>
        <div class="content">
            <img class="header" src="/images/headers/ceremony-and-reception-information.svg" alt="Ceremony and Reception Information">
            <h2>Ceremony</h2>
            <p class="big">Saturday, September 3, 2022<br>4:00 in the afternoon</p>
            <p class="big"><a href="https://goo.gl/maps/rQG8BiwwJcwydun17">Silverwood Great Hall<br>2500 County Road E<br>St. Anthony, MN 55421</a></p>
            <hr>
            <h2>Cocktail Hour and Reception</h2>
            <p class="big">Immediately following ceremony<br>at Silverwood Great Hall</p>
        </div>
    </div>
</body>

</html>
